*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.hearder{
    width: 100%;
    height: 85px;
    border-color: rgb(135, 165, 135);
}
.header-banner{
    background-color: aquamarine;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.navigation{
    width: 100%;
    height: 40px;
    background-color: #ffd5a2;
}

.navigation ul{
    display: flex;
    justify-content:center;


}
.navigation ul li{
    line-height: 40px;

    list-style: none;
    padding:0 20px;
    position: relative;
}
.navigation ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #333;
}
.navigation ul li:hover{
    background-color: #b959f5;
}
.navigation ul li:hover > a{
    color: #f0f8ff;
}
.sub-nav{
    background-color: #ffd5a2;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;

}

.sub-nav ul{
    display: block;
    min-width: 200px;
}
.navigation ul li:hover .sub-nav{
    display: block;
}